@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

body{
    margin: 0px;
    padding: 0px;
   
    
}

.sidebar{
    font-family: 'Popins', sans-serif;     

    height: 100%;
    width: 165px;
    color: lightgrey;
    background-color:#0E192F;
}

.sidebar span{
    text-decoration: none;
}
.sidebar_item{
    display: flex;
    
    width: auto;
    height: 1%;
    
    border: 20px, solid, black;

    
    padding-top: 15%;
    padding-bottom: 30px;
    padding-left: 30px; 

     
   transition: .4s;
}

.sidebar_item:hover{
    background-color: #183863;
    color: whitesmoke;
}

.sidebar_icon{
    padding-right: 8px;
    
}
.sideba_tittle{
    
    
}