@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    
}

.sidebar{
    font-family: 'Popins', sans-serif;
    font-size: 12px;

    height: 100%;
    width: 12%;
    color: darkgray;
    background-color:#0E192F;

    
}
.sidebar_item{
    display: flex;
    flex-direction: row;
    

    width: 100%;
    height: auto;
    
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 30px;
    padding-left: 30px;

    border: 100%, solid, red;
    
    color: lightgray;
}
.sidebar_item:hover{

}

.sidebar_icon{
    padding-right: 8px;
    
}
.sideba_tittle{
    justify-content: center;
    
}